<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="version" content="<%=htmlWebpackPlugin.options.version%>">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>授权登录</title>
    <script>
        /*程序版本号*/
        window.version = document.querySelector("meta[name='version']").content;
        /*程序开始时间*/
        window.appStartTime = new Date().getTime();
        /*程序rem初始化*/
        var remUnit = 100;     // 在px2rem中预设rem的值 即 1rem = ? px
        var designWid = 750;  // 设计稿宽度
        var winWid = window.innerWidth;
        var bl = winWid / designWid;
        window.rem2px = (bl * remUnit);
        document.querySelector('html').style.fontSize = (window.rem2px) + 'px';
    </script>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
